{% extends "base.html" %}
{% block title %}Mentorship Requests{% endblock %}

{% block content %}
<h2>Mentorship Requests</h2>

<table>
    <tr>
        <th>Student Roll No</th>
        <th>Name</th>
        <th>Action</th>
    </tr>

    {% for r in requests %}
    <tr>
        <td>{{ r.student.roll_no }}</td>
        <td>{{ r.student.user.first_name|default:r.student.user.username }}</td>
        <td>
            <a href="{% url 'accept_mentorship' r.id %}">
                <button>Accept</button>
            </a>
            <a href="{% url 'reject_mentorship' r.id %}">
                <button style="background:red;">Reject</button>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="3">No mentorship requests</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
