# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment (MOST IMPORTANT)
venv/
env/
ENV/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
