{% extends "base.html" %}
{% block title %}Counselling – Remarks{% endblock %}

{% block content %}

<h2>Counselling Remarks</h2>

<div class="card">
    <p><b>Student:</b> {{ student.roll_no }}</p>

    {% if remarks %}
        <ul>
            {% for r in remarks %}
                <li>
                    <b>{{ r.date }}</b> – {{ r.remark }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No counselling remarks available.</p>
    {% endif %}
</div>

{% endblock %}
